[submodule "site-specific"]
	path = site-specific
	url = https://github.com/ORINOCO-Lite/psychoinformatics-site-specific.git
[submodule ".orinoco-lite/orinoco-lite-dev"]
	path = .orinoco-lite/orinoco-lite-dev
	url = https://github.com/ORINOCO-Lite/orinoco-lite-dev.git
